<h2> <%= major.major %> </h2>

<div>
    Students: <%= major.student %>
</div>

<div>
    Instructors: <%= major.instructor %>
</div>

<div>
    Courses: <%= major.course %>
</div>


<div>
    Created At: <%= moment(major.createdAt).fromNow() %>
</div>

<div>
    Updated At: <%= moment(major.updatedAt).fromNow() %>
</div>

<hr>

<% course.user.forEach(function(user){ %>

<div class="user"> 
    <div>Student ID <%= user.userId %></div>
    <div>Student Name: <%= user.firstName %> <%= user.lastName %>  </div>
    <div> Student Created on: <%= moment(user.createdAt).fromNow() %></div>
  </div>

  <% }) %>
  